<?xml version="1.0"?>
<!-- Launches:: exe_intruder node;-->
<launch>
	<arg name="drone_id_namespace" default="drone0" />
	<group ns="$(arg drone_id_namespace)">
		<node name="exe_intruder"
  		      pkg="ardrone_rrt_avoid" 
  	              type="exe_intruder"
	              respawn="false" output="screen">
	        </node>
	</group>
</launch>
