<?xml version="1.0"?>
<!-- Launches:: plan_path node;-->
<launch>
	<arg name="drone_id_namespace" default="drone0" />
	<group ns="$(arg drone_id_namespace)">
		<node name="plan_path"
  		      pkg="ardrone_rrt_avoid" 
		      type="plan_path"
		      args="$(arg idx)"
		      respawn="false" output="screen">
		      <!--launch-prefix="valgrind"-->
		</node>
	</group>
</launch>
